@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.gradient-white {
    background: linear-gradient(90deg, #F1F3FC 0%, #EDF1FF 11%, #F5D9FC 22%, #F9BFE8 33%, #F4AAEA 44%, #D7D9FF 87%, #F6F5FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-dark {
    background: linear-gradient(60deg, #000000 0%, #0D1946 11%, #461452 22%, #610F4A 33%, #67165C 44%, #0C0E4A 87%, #01001C  100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-Comfortaa {
    font-family: Comfortaa, sans-serif;
}

.font-Montserrat {
    font-family: Montserrat, sans-serif;
}