@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

header {
    display: flex;
    box-sizing: border-box;
    border-bottom: 2px solid white;
    margin-inline: 5%;
    padding-bottom: 10px;
    height: auto;
    justify-content: space-between;
    align-items: flex-end;
}

header > * {
    position: relative;
    padding-inline: 1em;
    padding-bottom: 10px;
}

.logo > * {
    display: inline;
}

.site-name {
    padding-left: 20px;
    font-size: 24px;
    color: white;
    font-family: Montserrat, sans-serif;
}

.page-name {
    padding-bottom: 0;
}

.page-name > p {
    align-self: flex-end;
    font-size: 70px;
    font-weight: bold;
    margin-block: 0;
    font-family: Comfortaa, sans-serif;
    background: linear-gradient(90deg, #F1F3FC 0%, #EDF1FF 11%, #F5D9FC 22%, #F9BFE8 33%, #F4AAEA 44%, #D7D9FF 87%, #F6F5FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo .header-logo {
    position: relative;
    background: transparent;
    width: 138px;
}

.search {
    display: grid;
    grid-template-columns: 45px 235px;
    box-sizing: border-box;
    width: 320px;
    height: 47px;
    border: 2px solid white;
    border-radius: 30px;
    padding-inline: 20px;
}
.search-icon{
    margin: 3px auto;
    width: 80%;
}
.search .search-field {
    height: auto;
    font-size: 24px;
    border: none;
    margin-block: auto;
    width: 230px;
}

.search .search-form {
    position: relative;
    box-sizing: border-box;
    padding-top: 8px;
}

.search .search-field:focus {
    outline: none;
}

.site-name p {
    display: inline;
    padding-inline: 10px;
    font-size: 28px;
    font-family: Montserrat, sans-serif;
    color: white;
    margin-block: 10px;
}

.nav-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-bar .nav-button {
    padding-inline: 5px;
    display: inline-block;
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.autocomplete-suggestions {
    box-sizing: border-box;
    top: 45px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background: whitesmoke;
    z-index: 1000;
    border-radius: 10px;
}

.autocomplete-suggestion {
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autocomplete-suggestion > a {
    font-family: Comfortaa, sans-serif;
    background: linear-gradient(60deg, #000000 0%, #0D1946 11%, #461452 22%, #610F4A 33%, #67165C 44%, #0C0E4A 87%, #01001C 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.autocomplete-suggestion:hover {
    background-color: #f0f0f0;
}

.autocomplete-image {
    width: 80px;
    height: 80px;
    margin-right: 5px;
    object-fit: cover;
    border-radius: 10px;
}

.profile-button {
    position: relative;
    display: inline-block;
}

/* Скрытие выпадающего меню по умолчанию */
.dropdown {
    background: rgba(217, 217, 217);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    border-radius: 12px;
    list-style: none;
    z-index: 1000; /* Убедитесь, что меню отображается поверх других элементов */
}

/* Показ выпадающего меню при наведении */
.profile-button:hover .dropdown,
.dropdown:hover {
    display: block;
    background: rgba(217, 217, 217);
    border-radius: 12px;
}

/* Стили для элементов выпадающего меню */
.dropdown li {
    width: 140px;
    background-color: rgba(217, 217, 217);
    font-size: 15px;
}

.dropdown li a {

    background: linear-gradient(60deg, #000000 0%, #0D1946 11%, #461452 22%, #610F4A 33%, #67165C 44%, #0C0E4A 87%, #01001C  100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.dropdown li:hover {
    background-color: #474747;
}

.dropdown li:hover a{
    background: linear-gradient(90deg, #F1F3FC 0%, #EDF1FF 11%, #F5D9FC 22%, #F9BFE8 33%, #F4AAEA 44%, #D7D9FF 87%, #F6F5FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}