@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid white;
    margin-top: 20px;
    margin-inline: 5%;
    padding-inline: 20px;
    padding-bottom: 10px;
    height: 110px;
    justify-content: space-between;
    align-content: center;
    align-items: flex-end;
}

.page-name {
    display: inline;
    align-self: flex-end;
    font-size: 70px;
    font-weight: bold;
    font-family: Comfortaa, sans-serif;
    text-align: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 34px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.nav-bar .page-navigation-button {
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 38px;
    cursor: pointer;
    height: 62px;
    padding-inline: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-bar .page-navigation-button a {
    font-size: 28px;
    color: white;
    text-decoration: none;
    flex: 1 1 auto;
}

.search {
    display: flex;
    align-items: center;
    height: 62px;
    border: 2px solid white;
    border-radius: 38px;
    padding-inline: 10px;
    box-sizing: border-box;
    overflow: hidden;
    flex: 1 1 auto;
    max-width: 100%;
}

.search-icon{
    flex-shrink: 0;
    margin-right: 10px;
}

.search .search-field {
    font-size: 24px;
}

.search .search-form {
    display: flex;
    flex: 1;
    box-sizing: border-box;
}

.search .search-field {
    width: 100%;
    font-size: 24px;
    color: white;
    box-sizing: border-box;
    border: none;
    background: transparent;
}

.search .search-field::placeholder {
    color: white;
}

.search .search-field:focus {
    outline: none;
}

.autocomplete-suggestions {
    box-sizing: border-box;
    top: 45px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background: whitesmoke;
    z-index: 1000;
    border-radius: 10px;
}

.autocomplete-suggestion {
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autocomplete-suggestion > a {
    font-family: Comfortaa, sans-serif;
    background: linear-gradient(60deg, #000000 0%, #0D1946 11%, #461452 22%, #610F4A 33%, #67165C 44%, #0C0E4A 87%, #01001C 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.autocomplete-suggestion:hover {
    background-color: #f0f0f0;
}

.autocomplete-image {
    width: 80px;
    height: 80px;
    margin-right: 5px;
    object-fit: cover;
    border-radius: 10px;
}

.profile-button {
    position: relative;
    display: inline-block;
    align-self: flex-end;
}

.profile-icon {
    height: 56px;
}

/* Скрытие выпадающего меню по умолчанию */
.dropdown {
    background: rgba(217, 217, 217);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    border-radius: 12px;
    list-style: none;
    z-index: 1000; /* Убедитесь, что меню отображается поверх других элементов */
}

/* Показ выпадающего меню при наведении */
.profile-button:hover .dropdown,
.dropdown:hover {
    display: block;
    background: rgba(217, 217, 217);
    border-radius: 12px;
}

/* Стили для элементов выпадающего меню */
.dropdown li {
    width: 140px;
    background-color: rgba(217, 217, 217);
    font-size: 15px;
}

.dropdown li a {
    background: linear-gradient(60deg, #000000 0%, #0D1946 11%, #461452 22%, #610F4A 33%, #67165C 44%, #0C0E4A 87%, #01001C  100%);
    background-clip: text;
    border-radius: 0;
    -webkit-text-fill-color: transparent;
    display: block;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.dropdown li:hover {
    background-color: #474747;
}

.dropdown li:hover a{
    background: linear-gradient(90deg, #F1F3FC 0%, #EDF1FF 11%, #F5D9FC 22%, #F9BFE8 33%, #F4AAEA 44%, #D7D9FF 87%, #F6F5FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown {
  opacity: 0;
  animation: ani 0.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media (max-width: 768px) {
    .page-name {
        font-size: 50px; /* Уменьшение размера текста на малых экранах */
    }

    .nav-bar {
        gap: 20px; /* Уменьшение расстояния между элементами на малых экранах */
    }

    .nav-bar .page-navigation-button {
        font-size: 24px; /* Уменьшение размера текста кнопок на малых экранах */
    }

    .search {
        padding-inline: 5px; /* Уменьшение отступов на малых экранах */
    }

    .search-field {
        font-size: 20px; /* Уменьшение размера текста поля ввода на малых экранах */
    }
}

@media (max-width: 480px) {
    .page-name {
        font-size: 40px; /* Еще большее уменьшение размера текста на очень малых экранах */
    }

    .nav-bar {
        flex-direction: column; /* Перевод элементов в колонку на очень малых экранах */
        align-items: center; /* Центрирование элементов */
    }

    .nav-bar .page-navigation-button {
        width: 100%; /* Полная ширина кнопок на очень малых экранах */
        margin-bottom: 10px; /* Отступ между кнопками */
    }

    .search {
        width: 100%; /* Полная ширина поиска на очень малых экранах */
        margin-bottom: 10px; /* Отступ между элементами */
    }
}