@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

header {
    box-sizing: border-box;
    display: flex;
    z-index: 100;
    border-bottom: 2px solid white;
    margin-top: 20px;
    margin-inline: 5%;
    padding-inline: 20px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-content: center;
    align-items: flex-end;
    height: 100px;
}

.page-name {
    display: inline;
    align-self: flex-end;
    font-size: calc(18px + 33.8 * (100vw - 425px) / 880);
    font-weight: bold;
    font-family: Comfortaa, sans-serif;
    text-align: end;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 34px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-bar .page-navigation-button {
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 38px;
    cursor: pointer;
    height: 62px;
    padding-inline: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-bar .page-navigation-button a {
    font-size: 28px;
    color: white;
    text-decoration: none;
    flex: 1 1 auto;
}

.search {
    display: flex;
    align-items: center;
    height: 62px;
    border: 2px solid white;
    border-radius: 38px;
    padding-inline: 10px;
    box-sizing: border-box;
    overflow: hidden;
    flex: 1 1 auto;
    width: calc(100px + 150 * (100vw - 425px) / 880);
}

.search-icon {
    flex-shrink: 0;
    margin-right: 10px;
}

.search .search-form {
    display: flex;
    flex: 1;
    box-sizing: border-box;
}

.search .search-field {
    width: 100%;
    font-size: 24px;
    color: white;
    box-sizing: border-box;
    border: none;
    background: transparent;
}

.search .search-field::placeholder {
    color: white;
}

.search .search-field:focus {
    outline: none;
}

.autocomplete-suggestions {
    top: 85px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background: whitesmoke;
    z-index: 1000;
    border-radius: 10px;
}

.autocomplete-suggestion {
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autocomplete-suggestion > a {
    font-family: Comfortaa, sans-serif;
    background: linear-gradient(60deg, #000000 0%, #0D1946 11%, #461452 22%, #610F4A 33%, #67165C 44%, #0C0E4A 87%, #01001C 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.autocomplete-suggestion:hover {
    background-color: #f0f0f0;
}

.autocomplete-image {
    width: 80px;
    height: 80px;
    margin-right: 5px;
    object-fit: cover;
    border-radius: 10px;
}

.profile-button {
    position: relative;
    display: inline-block;
    align-self: flex-end;
}

.profile-icon {
    height: 56px;
}


.dropdown {
    background: rgba(217, 217, 217);
    display: none;
    position: absolute;
    top: 100%;
    right: 1px;
    padding: 0;
    margin: 0;
    border-radius: 12px;
    list-style: none;
    z-index: 1000;
}


.profile-button:hover .dropdown,
.dropdown:hover {
    display: block;
    background: rgba(217, 217, 217);
    border-radius: 12px;
}


.dropdown li {
    width: 140px;
    background-color: rgba(217, 217, 217);
    font-size: 15px;
}

.dropdown li a {
    background: linear-gradient(60deg, #000000 0%, #0D1946 11%, #461452 22%, #610F4A 33%, #67165C 44%, #0C0E4A 87%, #01001C 100%);
    background-clip: text;
    border-radius: 0;
    -webkit-text-fill-color: transparent;
    display: block;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.dropdown li:hover {
    background-color: #474747;
}

.dropdown li:hover a {
    background: linear-gradient(90deg, #F1F3FC 0%, #EDF1FF 11%, #F5D9FC 22%, #F9BFE8 33%, #F4AAEA 44%, #D7D9FF 87%, #F6F5FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown {
    opacity: 0;
    animation: ani 0.5s forwards;
}

.show {
    animation: eblan 1s ease-in-out;
}

.sections-box.no-scroll {
    overflow: hidden;
}

@keyframes eblan {
    from {
        filter: blur(10px);
        opacity: 0;
    }
    to {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .page-name {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        height: 50px;
        padding-bottom: 10px;
        padding-inline: 5px;
    }

    .nav-bar {
        gap: 5px;
    }

    .button_travel_icon {
        width: 30px;
        height: 30px;
    }

    .button_encyclopedia_icon {
        width: 30px;
        height: 30px;
    }

    .logo {
        width: 76px;
        height: 38px;
    }

    .logo > a > img {
        width: 76px;
        height: 38px;
    }

    .search-icon {
        width: 25px;
        height: 25px;
        margin-right: 0;
    }

    .profile-icon {
        width: 22px;
        height: 25px;
    }

    .profile-button {
        width: 22px;
    }

    .search {
        width: 100px;
        height: 32px;
    }

    .search .search-form {
        width: 100%;
    }

    .search .search-field {
        font-size: 14px;
        width: 100%;
    }
}

.nav-bar .button_travel img:hover {
    content: url(../img/header/travel-icon-selected.svg);
    animation: modal-fade-in 0.2s ease-out;
}

.nav-bar .button_encyclopedia img:hover {
    content: url(../img/header/encyclopedia-icon-selcted.svg);
    animation: modal-fade-in 0.2s ease-out;
}

@keyframes modal-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

