body {
    background: url(../img/index/introduction_image.png) no-repeat transparent;
    overflow: hidden;
}

.sections-box {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    font-family: Comfortaa, sans-serif;
}

.sections-box::-webkit-scrollbar {
    width: 5px;
}

.sections-box::-webkit-scrollbar-track {
    background: transparent;
}

.sections-box::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100px;
    border: 1px solid white;
}

section {
    scroll-snap-align: start;
    position: relative;
    padding-inline: 8%;
    height: 100vh;
    overflow: hidden;
}

.introduction {
    position: relative;
    display: block;
    margin-top: 15%;
    margin-bottom: 10%;
    font-family: Comfortaa, sans-serif;
}

.introduction h2 {
    font-size: 70px;
}

.introduction p {
    font-size: 24px;
}

.made-by {
    font-size: 24px;
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
}

.made-by .person {
    width: 85%;
    display: inline-block;
    margin-right: auto;
    border-bottom: 1px solid white;
}

.text-section {
    margin-block: 50px;
    display: flex;
}


.description-wrapper .description-header {
    margin-block: 0;
    display: inline;
    width: 50%;
    margin-inline: 1%;
    position: relative;
    font-size: 194px;
    font-weight: 700;
    word-wrap: break-word;
}

.description-wrapper .description-text {
    margin-block: 0;
    width: 50%;
    margin-inline: 1%;
    font-size: 51px;
    color: white;
    text-wrap: normal;
    word-break: break-all;
    flex-flow: row wrap;
}

.functionality-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-wrap: normal;
}

.function {
    border: 2px solid white;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 25% 75%;
    padding: 15px;
    border-radius: 38px;
    width: 20%;
    height: 350px;
    margin-right: 20px;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.function p {
    text-wrap: normal;
    word-break: break-all;
    font-size: 24px;
    color: white;
    font-family: Montserrat, sans-serif;
}

#functionality h2 {
    font-size: 110px;
    font-family: Montserrat, sans-serif;
}

.function img {
    position: relative;
    margin-inline: auto;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.transition-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-top: 2px solid white;
    justify-items: center;
}

.transition-wrapper div {
    margin-block: 50px;
    font-weight: bold;
    font-size: 65px;
    padding: 30px 0px;
    border-radius: 75px;
    align-self: center;
}

.transition-wrapper .button:hover {
    background: rgba(217, 217, 217, 0.75);
    transition: 0.2s ease;
}

.transition-wrapper .button > a {
    background: linear-gradient(90deg, #F1F3FC 0%, #EDF1FF 11%, #F5D9FC 22%, #F9BFE8 33%, #F4AAEA 44%, #D7D9FF 87%, #F6F5FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid white;
    border-radius: 75px;
    padding: 30px 50px;
}

.transition-wrapper .button > a:hover {
    background: linear-gradient(60deg, #000000 0%, #0D1946 11%, #461452 22%, #610F4A 33%, #67165C 44%, #0C0E4A 87%, #01001C 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s ease;
}