@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


header {
    display: flex;
    border-bottom: 2px solid white;
    margin-inline: 10px;
    padding-bottom: 10px;
}

header > * {
    padding-inline: 1em;
}

.header-logo {
    width: 138px;
    position: relative;
    vertical-align: bottom;
}

header .nav-button {
    background: transparent;
    border: transparent;
    cursor: pointer;
    margin-block: auto;
}

header p {
    display: inline;
    font-family: Montserrat;
    font-size: 28px;
    padding-inline: 10px;
    margin-right: auto;
}

section {
    position: relative;
    padding-inline: 4em;
    height: 100vh;
}

.introduction {
    font-family: Comfortaa;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.introduction h2 {
    font-size: 70px;
}

.introduction p {
    font-size: 24px;
}

/*header .nav-button .search-logo {
    background-size: auto;
    position: relative;
    margin-top: auto;
}

header .nav-button .profile-logo {
    background-size: auto;
    margin-top: auto;
    position: relative;
}*/

