@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    background: url(../img/index/introduction_image.png) no-repeat black;
}

header {
    display: flex;
    border-bottom: 2px solid white;
    margin-inline: 5%;
    padding-block: 10px;
}

header p {
    margin-bottom: auto;
    font-size: 28px;
    font-family: Montserrat;
    color: white;
}

header > * {
    padding-inline: 1em;
}

.header-logo {
    width: 138px;
    position: relative;
    vertical-align: bottom;
}

header .nav-button {
    background: transparent;
    border: transparent;
    cursor: pointer;
    margin-block: auto;
}

header p {
    display: inline;
    font-family: Montserrat;
    font-size: 28px;
    padding-inline: 10px;
    margin-right: auto;
}

section {
    position: relative;
    padding-inline: 4em;
    height: 100vh;
}

.introduction {
    font-family: Comfortaa;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.introduction h2 {
    font-size: 70px;
}

.introduction p {
    font-size: 24px;
}

.made-by {
    margin-top: 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.made-by .person {
    width: 20%;
    margin-right: auto;
    border-bottom: 1px solid white;
}

.gradient-text {
    font-family: Comfortaa;
    background: linear-gradient(60deg, #F1F3FC 0%, #EDF1FF 11%, #F5D9FC 22%, #F9BFE8 33%, #F4AAEA 44%, #D7D9FF 87%, #F6F5FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-section {
    margin-block: 50px;
    display: flex;
    justify-content: space-evenly;
}

.description-wrapper .description-header {
    margin-block: 0;
    display: inline;
    margin-inline: 1%;
    position: relative;
    font-size: 100px;
    font-weight: 700;
}

.description-wrapper .description-text {
    margin-block: 0;
    width: auto;
    margin-inline: 1%;
    font-size: 51px;
    flex-flow: row wrap;
}


/*header .nav-button .search-logo {
    background-size: auto;
    position: relative;
    margin-top: auto;
}

header .nav-button .profile-logo {
    background-size: auto;
    margin-top: auto;
    position: relative;
}*/
