body {
    background: transparent url(../img/encyclopedia/background.png) no-repeat center;
}

.description-title {
    font-size: 32px;
    text-align: center;
}

.meme-description-wrapper {
    padding: 20px;
    border: 2px solid white;
    border-radius: 26px;
}

.content-title {

}