html {
    scroll-behavior: smooth;
}

body {
    background: transparent url(../img/encyclopedia/background.png) no-repeat center;
}

body::-webkit-scrollbar{
    width: 10px;
    background: linear-gradient(60deg, #000000 0%, #0D1946 11%, #461452 22%, #610F4A 33%, #67165C 44%, #0C0E4A 87%, #01001C  100%);
}

body::-webkit-scrollbar-thumb{
    background: #F4AAEA;
    border-radius: 100px;
}

.description-title {
    font-size: 32px;
    text-align: center;
}

.meme-description-wrapper {
    display: flex;
    flex-direction: row;
    padding-inline: 8%;
    padding-top: 3%;
    gap: 100px;
}

.meme-description {
    flex: 1;
}

.meme-content {
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid white;
    border-radius: 30px;
    width: 620px;
    height: 440px;
    font-size: 36px;
}

.content-title {
    text-align: center;
    font-size: 40px;
}

.content-list {
    text-align: start;
}

.content-list > li {
    margin-bottom: 15px;
}

.description-sections {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: auto;
}

.section-title {
    font-size: 36px;
}

.description-box {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
    border: 2px solid white;
    border-radius: 38px;
    height: auto;
    width: auto;
    padding: 2% 4%;
}

.content-number {
    display: inline;
    font-size: 166px;
    align-self: center;
    margin-block: 0;
}

.description {
    font-size: 24px;
    word-break: break-word;
    margin-block: 0;
}

.meme-gallery {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.meme-gallery .main-image {
    width: 500px;
    height: 500px;
}

.meme-gallery > img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 30px;
    align-self: flex-end;
}

.meme-description .meme_control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
    align-self: center;

}
.meme_option{
    font-size: 28px;
    border-radius: 40px;
    border: 2px solid white;
    padding: 15px 15px 15px 15px;
    margin-top: 50px;
    cursor: pointer;
}