@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    background: url(../img/Profile_background.png) no-repeat transparent;
    background-position: center;
    background-size: cover;
}

.friends::-webkit-scrollbar,
.favorites::-webkit-scrollbar {
    height: 10px;
}

.friends::-webkit-scrollbar-track,
.favorites::-webkit-scrollbar-track {
    background: transparent;
}

.friends::-webkit-scrollbar-thumb,
.favorites::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100px;
    border: 1px solid white;
}

section {
    position: relative;
    padding-inline: 8%;
    height: auto;
    margin-bottom: 10%;
}

.section-title {
    font-size: 90px;
}

.user-parameters {
    display: flex;
    flex-direction: row;
}

.avatar-block {
    margin-right: 5%;
}

.avatar {
    border-radius: 20px;
    object-fit: cover;
    width: 426px;
    height: 567px;
}

.user-info {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.user-info .label {
    font-size: 24px;
}

.user-info p {
    margin-block: 20px;
}

.user-info .value {
    box-sizing: border-box;
    height: 62px;
    width: auto;
    font-size: 28px;
    border-radius: 40px;
    border: 3px solid white;
    padding: 13px 20px;
}

.change-password {
    display: flex;
    flex-direction: row;
    height: 62px;
    justify-content: space-between;
}

.change-password-button {
    background: url(../img/profile/change-password-icon.svg) no-repeat transparent center;
    background-size: 42px auto;
    border-radius: 40px;
    border: 3px solid white;
    cursor: pointer;
    width: 86px;
}

input[type="password"]::placeholder {
    text-align: center;
}

input[type="password"] {
    font-family: Comfortaa, sans-serif;
    background: linear-gradient(60deg, #F1F3FC 0%, #EDF1FF 11%, #F5D9FC 22%, #F9BFE8 33%, #F4AAEA 44%, #D7D9FF 87%, #F6F5FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    border-radius: 40px;
    border: 3px solid white;
    margin-right: 20px;
}

.friends {
    display: grid;
    grid-template-rows: 350px;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-column-gap: 30px;
    overflow-y: auto;
    width: auto;
}

.friends_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.requests {
    display: inline-block;
    font-size: 28px;
    border-radius: 40px;
    border: 3px solid white;
    padding: 15px 15px 15px 15px;
    margin-right: 20px;
}

.counter {
    display: inline-block;
    margin-left: 25px;
}

.friend_options {
    position: relative;
    align-self: center;
    font-size: 28px;
}

.friend {
    padding-bottom: 20px;
    background-size: auto auto;
    background: rgba(217, 217, 217, 0.95);
    border-radius: 20px;
    width: 300px;
    height: 317px;
}

.friend_avatar {
    border-radius: 19px;
    object-fit: cover;
    width: 300px;
    height: 298px;
}

.remove-friend-button {
    border-radius: 9px;
    border: 2px solid black;
    cursor: pointer;
    padding: 2px 10px 2px 10px;
    font-size: 18px;
    float: right;
    margin-right: 10px;
}

.friend_username {
    font-size: 22px;
    padding-left: 5px;
    padding-top: 2px;
    text-align: center;
    float: left;
}

.favorites {
    position: relative;
    flex: 0 0 auto;
    display: grid;
    grid-template-rows: 385px 385px;
    grid-auto-columns: 415px;
    grid-auto-flow: column dense;
    grid-column-gap: 30px;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.favorites_title {
    font-size: 90px;
    position: relative;
}

.meme {
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    border-radius: 20px;
    width: 415px;
    height: 350px;
    background: rgba(217, 217, 217, 0.95);
}

.meme_picture {
    border-radius: 19px;
    object-fit: cover;
    width: 415px;
    height: 312px;
}

.meme_name {
    font-size: 22px;
    margin-left: 5px;
}

.remove-from-favorites-button{
    border-radius: 9px;
    border: 2px solid black;
    cursor: pointer;
    bottom: 2%;
    padding: 2px 10px 2px 10px;
    font-size: 18px;
    float: right;
    margin-right: 10px;
}

.Change_avatar{
    font-size: 24px;
    background: linear-gradient(60deg, #F1F3FC 0%, #EDF1FF 11%, #F5D9FC 22%, #F9BFE8 33%, #F4AAEA 44%, #D7D9FF 87%, #F6F5FF 100%);
    background-clip: text;
    font-family: Comfortaa;
    -webkit-text-fill-color: transparent;
    width: 426px;
}

.change-avatar{
    background: linear-gradient(60deg, #F1F3FC 0%, #EDF1FF 11%, #F5D9FC 22%, #F9BFE8 33%, #F4AAEA 44%, #D7D9FF 87%, #F6F5FF 100%);
    background-clip: text;
    font-family: Comfortaa;
    font-size: 25px;
    -webkit-text-fill-color: transparent;
    border-radius: 40px;
    border: 0px solid white;
}