body {
    background: url(../img/travel/background_image.png) transparent;
    background-size: cover;
    overflow: hidden;
    margin: 0;
}

.sections-box {
    padding-inline: 8%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 85vh;
}

.sections-box::-webkit-scrollbar {
    width: 0;
}

.sections-box::-webkit-scrollbar-track {
    background: transparent;
}

.sections-box::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100px;
    border: 1px solid white;
}

section {
    height: 100vh;
    position: relative;
    padding-block: 100px;
    margin-bottom: 30%;
    width: auto;
}

.section-title {
    font-size: calc(32px + 40 * (100vw - 425px) / 880);
    margin-top: 0;
    text-align: center;
}

.introduction-title {
    font-size: calc(26px + 22 * (100vw - 425px) / 880);
    text-align: center;
    align-self: center;
    margin-top: 5%;
}

.start-XX-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 50px;
}

.kilroy-description {
    color: white;
    font-size: calc(14px + 10 * (100vw - 425px) / 880);
}

#start-2000 h3 {
    display: inline;
    font-size: calc(20px + 20 * (100vw - 425px) / 880);
}

.memes-horizontal-container {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: calc(14px + 10 * (100vw - 425px) / 880);
    justify-content: space-around;
    gap: 50px;
    margin-inline: auto;
}

.memes-horizontal-container-for-2000 {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: calc(14px + 10 * (100vw - 425px) / 880);
    justify-content: space-around;
    gap: 50px;
    margin-inline: auto;
}

.memes-horizontal-container > img {
    object-fit: scale-down;
}

.memes-vertical-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    color: white;
    font-size: calc(14px + 10 * (100vw - 425px) / 880);
    justify-content: center;
    justify-items: center;
    gap: 50px;
    margin-inline: auto;
}

.memes-vertical-container > img {
    object-fit: scale-down;
    height: auto;
}

.olbansky_language-description {
    display: grid;
    color: white;
    grid-auto-rows: auto;
    justify-content: center;
    gap: 20px
}

.image-boards {
    color: white;
    font-size: calc(14px + 10 * (100vw - 425px) / 880);
}

.row-description {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    margin-bottom: 20px;
}

.paragraphs {
    color: white;
    calc(14px + 10 * (100vw - 425px) / 880);
}

.meme-paragraph {
    font-size: calc(14px + 10 * (100vw - 425px) / 880);
    color: white;
}

#Prehistoric .memes-horizontal-container,.memes-vertical-container {
    width: 85%;
}

#demotivators .memes-horizontal-container,.memes-vertical-container {
    width: 70%;
}

#social-media .memes-horizontal-container,.memes-vertical-container {
    width: 70%;
}

#advices .memes-horizontal-container,.memes-vertical-container {
    width: 70%;
}

.show {
    animation: eblan 1s ease-in-out;
}

.mem-image {
    max-width: 100%;
    min-width: 40%;
    height: auto;
}

.sections-box.no-scroll {
    overflow: hidden;
}

@keyframes eblan {
    from {
        filter: blur(15px);
        opacity: 0;
    }
    to {
        filter: blur(0px) ;
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .sections-box {
        padding-inline: 2%;
    }
    .memes-horizontal-container {
        gap: 10px;
    }
}
