<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить друга</title>
</head>
<body>
{% block content %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ addfriend_form }}
            </table>
            <input type="submit" class="addfriend" value="Добавить">
        </form>
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endblock content %}
<button onclick="location.href = '/'">На главную</button>
<button onclick="location.href = '/profile'">В профиль</button>
</body>
</html>