<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление мема</title>
</head>
<body>
    {% block content %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ addmeme_form }}
            </table>
            <input type="submit" class="addmeme" value="Добавить">
        </form>
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endblock content %}
</body>
</html>