{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Энциклопедия</title>
    <link rel="stylesheet" href="{% static 'Site/css/header_styles.css' %}">
    <link rel="stylesheet" href="{% static 'Site/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'Site/css/encyclopedia.css' %}">
</head>
<body class="container">
{% include 'components/header.html' %}
<div class="memes-box" id="memes-box">
    {% for year, memes in filtered_memes.items %}
        <div class="memes-group">
            <div class="memes-group-title">
                <img src="{% static 'Site/img/encyclopedia/arrow.svg' %}" alt=""/>
                <p class="gradient-white">{{ year }}</p>
            </div>
            <div class="memes">
                {% for meme in memes %}
                    <div class="meme-info">
                        <img src="{{ meme.path_to_img.url }}" width="300"/>
                        <div class="meme-name">
                            <p class="font-Comfortaa gradient-white">{{ meme.name }}</p>
                            <button class="font-Comfortaa"
                                    onclick="location.href = '{{ meme.get_absolute_url }}'">
                                Узнать подробнее
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>


<button class="back-to-top" id="back-to-top" title="Go to top"></button>
<script>
    var element = document.querySelector('#memes-box');
    element.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (element.scrollTop > 20) {
            document.getElementById("back-to-top").style.display = "block";
            show("back-to-top", 300);

        } else {
            document.getElementById("back-to-top").style.display = "none";
            document.getElementById("back-to-top").style.opacity = 0;
        }
    }

    function show(id, speed) {
        let vars;
        var ID = setInterval(function () {
            (vars = Number(document.getElementById(id).style.opacity));
            if (vars > 1) {
                clearInterval(ID);
            }
            vars += 0.1;
            document.getElementById(id).style.opacity = vars;
        }, speed);
    }

    document.getElementById("back-to-top").onclick = function () {
        scrollToTop();
    };

    function scrollToTop() {
        element.scroll({top: 0, behavior: 'smooth'});
    }
</script>
</body>
</html>


{#<form method="GET" action="">#}
{#    <input type="text" id="search" name="q" placeholder="Поиск мемов по названию" value="{{ query }}"#}
{#           autocomplete="off">#}
{#    <button type="submit">Поиск</button>#}
{#</form>#}
{#<div id="suggestions" class="autocomplete-suggestions">#}
{#    <button type="button" onclick="window.location.href='/encyclopedia/'">Сброс результатов поиска</button>#}
{#</div>#}


{#<button type="button" onclick="window.location.href='/encyclopedia/'">Сброс результатов поиска</button>#}