{% load static %}
{% load get_group %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Энциклопедия</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Site/css/header_styles.css' %}">
    <link rel="stylesheet" href="{% static 'Site/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'Site/css/encyclopedia.css' %}">
    <script defer src="{% static 'Site/js/back-to-top-button.js' %}"></script>
</head>
<body class="container">
{% include 'components/header.html' %}
<div class="memes-box" id="memes-box">
    <div class="meme_control">
        {% if request.user|has_group:"Админ" %}
            <div class="button">
                <button onclick="location.href = '/create/meme/'"
                        class="meme_option gradient-white font-Comfortaa">Добавить новый мем
                </button>
            </div>
        {% endif %}
    </div>
    {% for year, memes in filtered_memes.items %}
        <div class="memes-group">
            <div class="memes-group-title">
                <img src="{% static 'Site/img/encyclopedia/arrow.svg' %}" alt=""/>
                <p class="gradient-white">{{ year }}</p>
            </div>
            <div class="memes">
                {% for meme in memes %}
                    <div class="meme-info">
                        <img src="{{ meme.path_to_img.url }}" width="300"/>
                        <div class="meme-name">
                            <p class="font-Comfortaa gradient-white">{{ meme.name }}</p>
                            <div class="font-Comfortaa button">
                                <a href="{{ meme.get_absolute_url }}">Узнать подробнее</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
<button class="back-to-top" id="back-to-top" title="Go to top"></button>
</body>
</html>


{#<form method="GET" action="">#}
{#    <input type="text" id="search" name="q" placeholder="Поиск мемов по названию" value="{{ query }}"#}
{#           autocomplete="off">#}
{#    <button type="submit">Поиск</button>#}
{#</form>#}
{#<div id="suggestions" class="autocomplete-suggestions">#}
{#    <button type="button" onclick="window.location.href='/encyclopedia/'">Сброс результатов поиска</button>#}
{#</div>#}


{#<button type="button" onclick="window.location.href='/encyclopedia/'">Сброс результатов поиска</button>#}