<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Энциклопедия</title>
</head>
<body class="container">
<header>
  <a class="logo" href="/">На главную</a>
</header>
<h2>Список мемов</h2>

{% for year, memes in filtered_memes.items %}
    <h3>{{ year }}</h3>
    <table>
        <tr><th>Номер</th><th>Название</th><th>Картиночка</th></tr>
        {% for meme in memes %}
            <tr>
                <td>{{ meme.id }}</td>
                <td>{{ meme.name }}</td>
                <td><img src="{{ meme.path_to_img.url }}" width="300" /></td>
                <td><button onclick="location.href = '{{ meme.get_absolute_url }}'">Подробнее</button></td>
            </tr>
        {% endfor %}
    </table>
{% endfor %}

<!-- ЭТА КНОПКА НАВЕРХ ПЕРЕМЕСТИТЕСЬ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Page</title>
    <style>
        #back-to-top {
            display: none;
            position: fixed;
            bottom: 830px;
            right: 870px;
            z-index: 99;
            font-size: 24px;
            border: none;
            outline: none;
            background-color: #423562;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 10px;
        }

        #back-to-top:hover {
            background-color: #555;
        }
    </style>
</head>
<body>

<button id="back-to-top" title="Go to top">⬆️</button>

<script>
    window.onscroll = function() {
        scrollFunction();
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("back-to-top").style.display = "block";
        } else {
            document.getElementById("back-to-top").style.display = "none";
        }
    }

    document.getElementById("back-to-top").onclick = function() {
        scrollToTop();
    };

    function scrollToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
</body>
</html>



