<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мемопедия</title>
</head>
<body class="container">

<h2>Список мемов</h2>
<table>
    <tr><th>Номер</th><th>Название</th><th>Популярность</th><th>Картиночка</th></tr>
    {% for meme in memes %}
        <tr><td>{{ meme.id }}</td><td>{{ meme.name }}</td>
            <td>{{ meme.popularity }}</td><td> <img src="{{meme.path_to_img.url}}"/> </td></tr>
    {% endfor %}
</table>
        <button onclick="location.href = '/create/meme'">Добавить новый мем</button> 
</body>
</html>



