<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Список друзей</h2>
<table>
    {% if friends %}
        <tr><th>Имя друга</th></tr>
        {% for friend in friends %}
            {% if user != friend.friend_id %}
                <tr><td>{{ friend.friend_id }}</td></tr>
            {% else %}
                <tr><td>{{ friend.user_id }}</td></tr>
            {% endif %}
            
        {% endfor %}
    {% else %}
        У вас пока еще нет друзей! Вы их обязательно заимеете(в жопу)
    {% endif %}
    
</table>
{% if is_current_user %}
{% if sended_requests %}
<h2>Список отправленных заявок</h2>
<table>
        <tr><th>Имя друга</th></tr>
        {% for friend in sended_requests %}
            <tr><td>{{ friend.friend_id }}</td></tr>
        {% endfor %}
    {% endif %}
    
</table>

{% if got_requests %}
<h2>Список полученных заявок</h2>
<table>
    <tr><th>Имя друга</th><th>Статус</th></tr>
        {% for friend in got_requests %}
            <tr><td>{{ friend.user_id }}</td><td><button>Добавить</button></td></tr>
        {% endfor %}
    {% endif %}
    
</table>
<button onclick="location.href = '/create/friend'">Добавить друга</button>

{% for message in messages %}
    <div class="message {{ message.tags }}">
        <h3>{{ message }}</h3>
    </div>
{% endfor %}
{% endif %}
</body>
</html>