{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Site/css/index_styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'Site/css/header_styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'Site/css/global.css' %}"/>
    <script defer src="{% static 'Site/js/section_scroll_script.js' %}"></script>
    <title>MemeTravel</title>
</head>
<body>
{% include 'components/header.html' %}
<div id="sections-box" class="sections-box">
    <section id="introduction">
        <div class="introduction gradient-white font-Comfortaa">
            <h2>Сайт для изучения мем-культуры<br/>Курсовая работа</h2>
            <p>MemeTravel - многофункциональная площадка<br/>для сохранения и изучения<br/>истории мемов</p>
        </div>
        <div class="made-by gradient-white font-Comfortaa">
            <div class="person">
                <span>Даниил Юдин</span>
            </div>
            <div class="person">
                <span>Максим Кононов</span>
            </div>
            <div class="person">
                <span>Ирина Киевская</span>
            </div>
            <div class="person">
                <span>Владимир Калюжный</span>
            </div>
        </div>

    </section>
    <section id="description">
        <div class="description-wrapper text-Comfortaa">
            <div class="text-section">
                <p class="description-header gradient-white">MEME</p>
                <p class="description-text">Вводное <br/> путешествие <br/> в историю мемов
                </p>
            </div>
            <div class="text-section">
                <p class="description-text">Динамическая<br/> энциклопедия <br/> с множеством мемов
                <p class="description-header gradient-white">MEME</p>
            </div>
        </div>
    </section>
    <section id="functionality">
        <h2 class="gradient-white">ВОЗМОЖНОСТИ САЙТА</h2>
        <div class="functionality-wrapper">
            <div class="function">
                <span>Система аккаунтов</span>
                <img src="{% static 'Site/img/index/user-function-icon.svg' %}"/>
            </div>
            <div class="function">
                <span>Избранное</span>
                <img src="{% static 'Site/img/index/favorites-function-icon.svg' %}"/>
            </div>
            <div class="function">
                <span>Поиск и фильтрация</span>
                <img src="{% static 'Site/img/index/filtration-function-icon.svg' %}"/>
            </div>
            <div class="function">
                <span>ДРУЗЬЯЯЯЯЯЯ</span>
                <img src="{% static 'Site/img/index/friends-function-icon.svg' %}"/>
            </div>
        </div>
    </section>
    <section id="transition">
        <div class="transition-wrapper font-Comfortaa">
            <div class="button">
                <a href="/travel">Путешествие</a>
            </div>
            <div class="button">
                <a href="/encyclopedia/">Энциклопедия</a>
            </div>
        </div>
    </section>
</div>
</body>
</html>