{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Site/css/index_styles.css' %}"/>
    <title>MemeTravel</title>
</head>
<body>
<header>
    <img class="header-logo" src="{% static 'Site/img/header_logo.png' %}" alt="СОСИ)">
    <p>MemeTravel</p>
    <a class="nav-button">
        <img class="search-icon" src="{% static 'Site/img/search_icon.svg' %}" alt="СОСИ)">
    </a>
    <a class="nav-button" href="/user/{{ request.user.username }}">
        <img class="profile-icon" src="{% static 'Site/img/profile_icon.svg' %}" alt="СОСИ)">
    </a>
</header>
<section id="introduction">
    <div class="introduction gradient-text">
        <h2>Страница с мемами<br/>Сайт курсовой</h2>
        <p>Страница с мемами, сайт курсовой<br/>Страница с мемамиииииииииииии, сайт курсовой<br/>Страница с мемамb сайт курсовой</p>
        <div class="made-by">
            <div class="person">
                <p>Даниил Юдин</p>
            </div>
            <div class="person">
                <p>Максим Кононов</p>
            </div>
            <div class="person">
                <p>Ирина Киевская</p>
            </div>
            <div class="person">
                <p>Владимир Калюжный</p>
            </div>
        </div>
    </div>
</section>
<section id="description">
    <div class="description-wrapper gradient-text">
        <div class="text-section">
            <p class="description-header gradient-text">SAMPLE_GAY</p>
            <p class="description-text gradient-text">SAMPLE_TEXT SAMPLE_TEXT SAMPLE_TEXT SAMPLE_TEXT SAMPLE_TEXT SAMPLE_TEXT </p>
        </div>
        <div class="text-section">
            <p class="description-text gradient-text">SAMPLE_TEXT SAMPLE_TEXT SAMPLE_TEXT SAMPLE_TEXT SAMPLE_TEXT SAMPLE_TEXT </p>
            <p class="description-header gradient-text">SAMPLE_GAY</p>
        </div>
    </div>
</section>
<section id="functional">
</section>
<section id="transition">
    <div class="introduction">
        <h2>Страница с мемами<br/>Сайт курсовой</h2>
        <p>Страница с мемами, сайт курсовой<br/>Страница с мемамиииииииииииии, сайт курсовой<br/>Страница с мемамb сайт курсовой</p>
    </div>
</section>
</body>
</html>