<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать на MemeTravel!</title>
</head>
<body>
<h1>Невероятно! {{ user.username }} смог зайти на это говно!!!!!!!!</h1>
{% if user.is_anonymous %}
    <button onclick="location.href = '/login'">Войти в профиль</button>
{% else %}
    <button onclick="location.href = '/user/{{ user.username }}'">Профиль</button>
    <button onclick="location.href = '/logout'">Выйти из профиля</button>
{% endif %}


<button onclick="location.href = '/encyclopedia'">Энциклопедия</button>
{% for message in messages %}
    <div class="message {{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
</body>
</html>