{% load static %}
{% load get_group %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ meme.name }}</title>
    <link rel="stylesheet" href="{% static 'Site/css/header_styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'Site/css/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'Site/css/meme_styles.css' %}"/>
</head>
<body>
{% include 'components/header.html' %}
{#<p class="description-title font-Comfortaa gradient-white">описание</p>#}
<div class="meme-description-wrapper">
    <div class="meme-description">
        <nav class="meme-content font-Comfortaa gradient-white">
            <h3 class="content-title">содержание</h3>
            <ol class="content-list">
                <li><a href="#History">История происхождения</a></li>
                <li><a href="#Meaning">Значение и символика</a></li>
                <li><a href="#Cultural_influence">Культурное влияние</a></li>
                <li><a href="#Using_examples">Примеры и использование</a></li>
            </ol>
        </nav>
        <div class="description-sections font-Comfortaa">
            <section id="History">
                <p class="section-title gradient-white">История происхождения</p>
                <div class="description-box gradient-white">
                    <h2 class="content-number">1</h2>
                    <p class="description">{{ meme.history }}</p>
                </div>
            </section>
            <section id="Meaning">
                <p class="section-title gradient-white">Значение и символика</p>
                <div class="description-box gradient-white">
                    <h2 class="content-number">2</h2>
                    <p class="description">{{ meme.meaning }}</p>
                </div>
            </section>
            <section id="Cultural_influence">
                <p class="section-title gradient-white">Культурное влияние</p>
                <div class="description-box gradient-white">
                    <h2 class="content-number">3</h2>
                    <p class="description">{{ meme.cultural_influence }}</p>
                </div>
            </section>
            <section id="Using_examples">
                <p class="section-title gradient-white font-Comfortaa">Примеры и использование</p>
                <div class="description-box gradient-white">
                    <h2 class="content-number">4</h2>
                    <p class="description">{{ meme.using_examples }}</p>
                </div>
            </section>
        </div>
        <div class="meme_control">
            {% if request.user|has_group:"Админ" or request.user|has_group:"Модератор" %}
                <button onclick="location.href = '/meme/id{{ meme.id }}/update'" class="meme_option gradient-white font-Comfortaa">Редактировать</button>
            {% endif %}
            <button class="add-to-favorites-button meme_option gradient-white font-Comfortaa" data-meme-id="{{ meme.id }}">Добавить в избранное!</button>
        </div>
    </div>
    <div class="meme-gallery">
        <img class="main-image" src="{{ meme.path_to_img.url }}"/>
        {% for meme_image in meme_gallery %}
            <img src="{{ meme_image.image.url }}" alt="">
        {% endfor %}
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.add-to-favorites-button').on('click', function () {
                var memeId = $(this).data('meme-id');
                addToFavorites(memeId);
            });

            function addToFavorites(memeId) {
                $.ajax({
                    url: '/add_to_favorites/',
                    type: 'POST',
                    data: {
                        meme_id: memeId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.success) {
                            toastr.success('Мем теперь ЗОМБИТЕЛЬНО ИЗБРАН....');
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            toastr.error(response.error);
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error(error);
                    }
                });
            }
        });
    </script>
</div>
</body>
</html>