{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Путешествие</title>
    <link rel="stylesheet" href="{% static 'Site/css/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'Site/css/header_styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'Site/css/travel_styles.css' %}"/>
    <script defer src="{% static 'Site/js/section_scroll_script.js' %}"></script>
    <script defer src="{% static 'Site/js/travel-script.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% include 'components/header.html' %}
<div class="sections-box font-Comfortaa" id="sections-box">
    <section id="Introduction">
        <h1 class="introduction-title gradient-white">
            Мем - вещь глубокая. Глубочайшая. Фольклор от постмодерна, способ сформулировать и донести свои мысли.
            Стимул общения, средство коммуникации, вестник негатива и позитива. Разумеется, такая важная сфера
            человеского бытия развивалась эпохально.<br>Но как???
        </h1>
    </section>
    <section id="Prehistoric">
        <h2 class="section-title gradient-white">Доисторические мемы</h2>
        <div class="memes-horizontal-container">
            <div class="paragraphs">
                <p>Мемом, в узком смысле слова, можно считать укоренившееся выражение/визуальное представление,
                    известное определенному кругу людей и стремительно распространяющееся. Например, в Среднековье
                    любили погыгыкать над рыцарями, изображая их до смерти перепуганных перед улитками.
                </p>
                <p>
                    Хейтеры бронированного сословия просто хотели донести свое убеждение о трусости рыцарей, о том что в
                    эту касту входит "кто попало" и меч свой поднимают они только на слабаков.
                </p>
            </div>
            <img class="mem-image" src="{% static 'Site/img/travel/medieval.png' %}" alt="">
        </div>
    </section>
    <section id="start-XX-century">
        <h2 class="section-title gradient-white">Мемы начала ХХ века</h2>
        <div class="start-XX-block">
            <img class="mem-image" src="{% static 'Site/img/travel/kilroy.png' %}" alt="">
            <p class="kilroy-description">
                Происхождение - неизвестно, а рисовалось это графити в 40х-50х годах, как раз в период военных действий.
                Зародился где то на западном фронте, среди англосаксов. Смысл - у каждого свой. Но просто увидеть такого
                чувачка на бетоне своих фортификаций было явно забавно обычному западному солдату.
            </p>
            <p class="kilroy-description">
                Ходит байка, что уже после войны, "Килроя" увидел в своей ванной опешивший Сталин. А Гитлер на
                захваченных позициях думал, что это шифр или обозначение какого то крутого агентства.
            </p>
        </div>
    </section>
    <section id="start-2000">
        <h2 class="section-title gradient-white">Начало двухтысячных</h2>
        <div class="memes-horizontal-container-for-2000">
            <div class="olbansky_language-description">
                <h3>ОЛБАНСКИЙ или ЯЗЫК ПАДОНКАФФ</h3>
                <img class="mem-image" src="{% static 'Site/img/travel/olbansky_language.png' %}" alt="">
                <p style="padding-right: 20px">
                    Пытаясь подражать евреям, а также прикидываясь пациентами больницы, некие товарищи начали коверкать
                    русские слова, будто их пишет неадекватный, неграмотный школьник. "АФФТАР ЖЖОТ", "РЖУНИМАГУ" -
                    именно
                    отсюда. Летящие споры этого языка проникли далеко и надолго, проникнув в "Фочан", "LiveJournal" и в
                    десятые года.
                </p>
            </div>
            <div class="olbansky_language-description">
                <h3 >Масяня</h3>
                <img class="mem-image" src="{% static 'Site/img/travel/masyanya.png' %}" alt="">
                <p>
                    Сатирический русский анимационный сериал, высмеивающий серые будни, глупость народа, стереотипы и
                    всё
                    что можно, быстро разобрался на цитаты, типа "Пойдём-ка, покурим-ка" и "Ало, директор? Пошёл ты в
                    жопу,
                    директор"
                </p>
            </div>
        </div>
    </section>
    <section id="image-boards">
        <h2 class="section-title gradient-white">Имиджборды</h2>
        <div class="image-boards">
            <div class="row-description">
                <img class="mem-image" src="{% static 'Site/img/travel/4chan.png' %}" alt="">
                <p>
                    Переняв западное веяние, русские диванные специалисты не отстали и создали свой "Двач" и "Фоч", и
                    сотни
                    их аналогов. Изначально имея функцию форума для обсуждения аниме и манги, сайт для молодых людей с
                    возможностями постинга на условиях полной анонимости не мог ограничиться только этим. Здесь
                    творилось и
                    творится вообще ВСЁ, что можно представить.
                </p>
            </div>
            <div class="row-description">
                <div class="paragraphs">
                    <p>
                        Все обсуждения, все споры, политические/религиозные/абсурдные/вставьтетему дискуссии проходили и
                        проходят до сей поры ежедневно.
                    </p>
                    <p>
                        От пускания "утки" о зарядке айфонов через микроволнку, чтобы распространить новость вне борд и
                        сжигать
                        телефоны обычных граждан - до фейковых угроз подрыва бомб на стадионах в конце Рамадана.
                        Расследования,
                        вычисления геопозиций, разгадки тайн, коллективные обсуждения вопросов, бытовые советы,
                        конспирологические теории, бред, нецензурщина, фотожабы, мемы и тотальный хаос.
                    </p>
                </div>
                <img class="mem-image" src="{% static 'Site/img/travel/2ch.png' %}" alt="">
            </div>
            <p>Большинство информации и мемов в интернете сначала "обсасываются" или рождаются на имиджбордах, западных
                или
                НАШИХ, а потом приходит в массы. Скуфы, Wojak'и, брони, китайские боты и социальный рейтинг - примеры
                можно
                перечислять бесконечно. Хотя, конечно, появилось это гораздо позже начала нулевых, но имиджборды рождали
                идеи уже тогда.</p>
        </div>
    </section>
    <section id="start-2010">
        <h2 class="section-title gradient-white">Конец нулевых,<br>начало десятых</h2>
        <h2 class="section-title gradient-white">Луркоморье</h2>
        <div class="memes-horizontal-container">
            <img class="mem-image" src="{% static 'Site/img/travel/Lurkmore.png' %}" alt="">
            <div class="paragraphs">
                <p>
                    Луркоморье, он же "Лурк" стал "местной википедией" в вопросах современного юмора и субкультур.
                </p>
                <p>
                    Статьи там написаны на смеси "олбанского" и нецензурного, мемов и собственных новоязычных слов
                    "луркояза". Оттуда пошёл "БАТТХЁРТ", "певец ртом", "пейсатель", обсуждались и распространялись сотни
                    и тысячи различных явлений и мемов.
                </p>
                <p>
                    Но всё ждёт закат - и закат ждал луркоморье. Правда, недавно он переродился в "Неолурк", и теперь
                    содержит статьи 2022+ года.
                </p>
            </div>
        </div>
    </section>
    <section id="wojak">
        <h2 class="section-title gradient-white">Wojak</h2>
        <div class="memes-horizontal-container">
            <div class="paragraphs">
                <p>Черно-белый скорбно-грустный чел произошел с Имиджборды Krautchan.</p>
                <p>Один "неймфаг" называл себя солдатом (wojakom), жаловался на политику и вообще всё, и везде
                    употреблял выражение "Я знаю это чувство, когда..."</p>
                <p>неймфаг - пользователь подписывающийся ником на анонимных бордах</p>
            </div>
            <img class="mem-image" src="{% static 'Site/img/travel/wojak.png' %}" alt="">
            <div class="paragraphs">
                <p>Смысл этого мема и запечатлен в данном высказывании - передать чувства. Столь повседневные, но столь
                    тоскливые. И всем знакомые.</p>
                <p>Wojak появился и расфорсился в начале десятых. Но его ждёт взрывная популярность гораздо позже...</p>
            </div>
        </div>
    </section>
    <section id="preved">
        <h2 class="section-title gradient-white">Превед</h2>
        <p style="margin-bottom: 50px" class="meme-paragraph">Карикатурный, безумный медведь салютующий всем
            присутствующим долгое время обитал в интернете. Далее его взор
            устрастился на куртизанок, креветок и прочих живностей.</p>
        <div class="memes-horizontal-container">
            <img class="mem-image" src="{% static 'Site/img/travel/preved-1.png' %}" alt="">
            <img class="mem-image" src="{% static 'Site/img/travel/preved-2.png' %}" alt="">
            <img class="mem-image" src="{% static 'Site/img/travel/preved-3.png' %}" alt="">
        </div>
    </section>
    <section id="demotivators">
        <h2 class="section-title gradient-white">Демотиваторы</h2>
        <div class="memes-horizontal-container">
            <img class="mem-image" src="{% static 'Site/img/travel/demotivator.png' %}" alt="">
            <p>Уникальнейший формат создан был от обратного: западные мотиваторы поставили со знаком "-", создав шаблон
                изображений в черной рамке и циничными/абсурдными высказываниями.</p>
        </div>
    </section>
    <section id="social-media">
        <h2 class="section-title gradient-white">Социальные сети</h2>
        <div class="memes-vertical-container">
            <img class="mem-image"  src="{% static 'Site/img/travel/social-media.png' %}" alt="">
            <div class="paragraphs">
                <p>Переломный момент - соцсети стали массовыми. </p>
                <p>Если имиджборды притягали в основном битардов, хикк, неадекватов и неформалов, то соцсетями
                    пользовался
                    любой, кто захотел. Мем стал распространяться пандемическими масштабами.</p>
            </div>
        </div>
    </section>
    <section id="advices">
        <h2 class="section-title gradient-white">Эдвайсы</h2>
        <div class="memes-horizontal-container">
            <div class="paragraphs">
                <p>Первый массовый шаблон типичных "соцсетичных" мемов, с животным/человеком в центре и надписями
                    сверху/снизу пришел в дополнение к демотиваторам.</p>
                <p>Картинки иллюстрировали и высмеивали привычные моменты бытия, исключая, наверное, только шаблон с
                    Филосораптором, который явно выходил за грани.</p>
            </div>
            <img class="mem-image"  src="{% static 'Site/img/travel/advices.png' %}" alt="">
        </div>
    </section>
    <section>
        <h2 class="section-title gradient-white">2010-e</h2>
        <p style="font-size: 60px; font-weight: bold" class="gradient-white">TO BE COCINUED</p>
    </section>
</div>
</body>
</html>