{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Site/css/profile_styles.css' %}">
    <link rel="stylesheet" href="{% static 'Site/css/header_styles.css' %}">
    <link rel="stylesheet" href="{% static 'Site/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'Site/css/MODAL.css' %}">
    <title>{{ user.username }}</title>
</head>
<body>
{% include 'components/header.html' %}
<section id="profile">
    <p class="section-title gradient-white font-Comfortaa">Профиль</p>
    <div class="user-parameters font-Comfortaa">
        <div class="avatar-block">
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" width="300" alt="ПРИВЕТ)" class="avatar"/>
            {% else %}
                <img src="/media/svofard_404.png" width="300" alt="Привет)" class="avatar"/>
            {% endif %}
            <form id="change-avatar-form" method="post" enctype="multipart/form-data"
                  class="Change_avatar gradient-white">
                {% csrf_token %}
                {{ ChangeAvatarForm.image }}
                <input name="change_avatar_input" type="submit" class="change-avatar" value="После выбора - [ТЫК]">
            </form>
        </div>
        <div class="user-info gradient-white font-Comfortaa">
            <div class="user-detail">
                <p class="label">Имя и фамилия</p>
                <p class="value">{{ user.first_name }} {{ user.last_name }}</p>
            </div>
            <div class="user-detail">
                <p class="label">Электронная почта</p>
                {% if user.email %}
                    <p class="value">{{ user.email }}</p>
                {% else %}
                    <p class="value">&nbsp;</p>
                {% endif %}
            </div>
            <p class="label">Дата создания аккаунта - {{ user.date_joined }}
                {% if is_current_user %}
                    <form class="change-password" id="change-password-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ ChangePasswordForm.old_password }}
                        {{ ChangePasswordForm.new_password }}
                        <input name="change_password_input" type="submit" class="change-password-button" value="&nbsp;">
                    </form>
                {% endif %}
        </div>
    </div>
</section>
{% for message in messages %}
    <div class="message {{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
<section id="friends">
    <div class="friend_list">
        <p class="section-title gradient-white font-Comfortaa">Друзья</p>
        <div class="friends_title">
            {% if is_current_user %}
                <div id="incoming-requests-modal" class="modal font-Comfortaa">
                    <div class="modal-content ">
                        <span class="close">&times;</span>
                        <h2 class="gradient-dark">Список полученных заявок</h2>
                        <table class="gradient-dark">
                            <tr>
                                <th>Имя друга</th>
                                <th>Добавить???</th>
                            </tr>
                            {% for friend in got_requests %}
                                <tr>
                                    <td><a class="logo" href="/user/{{ friend.user }}">{{ friend.user }}</a></td>
                                    <td>
                                        <button class="add-friend-button gradient-dark"
                                                data-friend-id="{{ friend.id }}">Добавить
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div id="sent-requests-modal" class="modal font-Comfortaa">
                    <div class="modal-content ">
                        <span class="close">&times;</span>
                        <h2 class="gradient-dark">Отправленные заявки</h2>
                        <ul class="gradient-dark">
                            {% for friend in send_requests %}
                                <li><a class="logo" href="/user/{{ friend.friend }}">{{ friend.friend }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div id="add-friend-modal" class="modal font-Comfortaa">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2 class="gradient-dark">Добавить друга</h2>
                        <form id="add-friend-form" method="POST" class="gradient-dark">
                            {% csrf_token %}
                            <input type="text" name="friend_name" placeholder="Имя друга" required
                                   class="gradient-dark font-Comfortaa">
                            <button type="submit" class="font-Comfortaa">Добавить друга</button>
                        </form>
                    </div>
                </div>
                <div class="friend_options gradient-white font-Comfortaa">
                    <div class="button">
                        <a class="requests" id="incoming-requests-btn" href="#">Входящие заявки
                            <div class="counter">
                                {% if got_requests %}{{ got_requests.count }}{% else %}0{% endif %}</div>
                        </a>
                    </div>
                    <div class="button">
                        <a class="requests" id="sent-requests-btn" href="#">Отправленные заявки
                            <div class="counter">
                                {% if send_requests %}{{ send_requests.count }}{% else %}0{% endif %}</div>
                        </a>
                    </div>
                    <div class="button">
                        <a class="requests" id="add-friend-btn" href="#">Добавить друга</a>
                    </div>

                </div>
            {% endif %}
        </div>
        <div class="friends">
            {% if friends %}
                {% for friend in friends %}
                    {% if user != friend.friend %}
                        <div class="friend">
                            {% if friend.friend.avatar %}
                                <img src="{{ friend.friend.avatar.url }}" alt="ПРИВЕТ)" class="friend_avatar"/>
                            {% else %}
                                <img src="/media/svofard_404.png" width="300" alt="Привет)" class="friend_avatar"/>
                            {% endif %}
                            <a class="friend_username gradient-dark font-Comfortaa"
                               href="/user/{{ friend.friend }}">{{ friend.friend }}</a>
                            <div class="button_delete">
                                <button class="remove-friend-button gradient-dark font-Comfortaa"
                                        data-friend-id="{{ friend.id }}">Удалить
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <div class="friend">
                            {% if friend.user.avatar %}
                                <img src="{{ friend.user.avatar.url }}" alt="ПРИВЕТ)" class="friend_avatar"/>
                            {% else %}
                                <img src="/media/svofard_404.png" width="300" alt="Привет)" class="friend_avatar"/>
                            {% endif %}
                            <a class="friend_username gradient-dark font-Comfortaa"
                               href="/user/{{ friend.user }}">{{ friend.user }}</a>
                            <div class="button_delete">
                                <button class="remove-friend-button gradient-dark font-Comfortaa"
                                        data-friend-id="{{ friend.id }}">Удалить
                                </button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if is_current_user %}
                    <a class="no-friends font-Comfortaa gradient-white">Похоже, у вас еще нет друзей!</a>
                {% else %}
                    <a class="no-friends font-Comfortaa gradient-white">У пользователя {{ user.username }} еще нет
                        друзей!</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</section>
<section>
    <p class="section-title gradient-white font-Comfortaa">Избранное</p>
    {% if user.favorites.all %}
        <div class="favorites ">
            {% for meme in user.favorites.all %}
                <div class="meme">
                    <img src="{{ meme.path_to_img.url }}" width="300" class="meme_picture"/>
                    <a class="meme_name gradient-dark font-Comfortaa" href="/meme/id{{ meme.id }}">{{ meme.name }}</a>
                    {% if is_current_user %}
                        <div class="button_delete">
                            <button class="remove-from-favorites-button gradient-dark font-Comfortaa"
                                    data-meme-id="{{ meme.id }}">
                                Удалить
                            </button>
                        </div>

                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        {% if is_current_user %}
            <a class="no-friends font-Comfortaa gradient-white">Похоже, вам еще ничего не приглянулось!</a>
        {% else %}
            <a class="no-friends font-Comfortaa gradient-white">У пользователя {{ user.username }} еще нет избранных
                мемов</a>
        {% endif %}
    {% endif %}
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        $('.remove-friend-button').on('click', function () {
            var friendId = $(this).data('friend-id');
            removeFriendRequest(friendId);
        });

        function removeFriendRequest(friendId) {
            $.ajax({
                url: '/remove_friend_request/',
                type: 'POST',
                data: {
                    friend_id: friendId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.success) {
                        toastr.success('Друг теперь АНТИЗОМБИТЕЛЕН....');
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    } else {
                        // Обработка ошибки
                        console.error(response.error);
                    }
                },
                error: function (xhr, status, error) {
                    // Обработка ошибки AJAX-запроса
                    console.error(error);
                }
            });
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        $('.remove-from-favorites-button').on('click', function () {
            var memeId = $(this).data('meme-id');
            removeFromFavorites(memeId);
        });

        function removeFromFavorites(memeId) {
            $.ajax({
                url: '/remove_from_favorites/',
                type: 'POST',
                data: {
                    meme_id: memeId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.success) {
                        toastr.success('Мем теперь АНТИЗОМБИТЕЛЕН....');
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    } else {
                        toastr.error(response.error);
                    }
                },
                error: function (xhr, status, error) {
                    toastr.error(error);
                }
            });
        }
    });
</script>
</body>
</html>

<!-- САСАЛЬНЫЕ ОКНА -->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.add-friend-button').on('click', function () {
            var friendId = $(this).data('friend-id');
            addFriendRequest(friendId);
        });

        function addFriendRequest(friendId) {
            var csrfToken = '{{ csrf_token }}';

            var deferred = $.Deferred();

            $.ajax({
                url: '/add_friend_request/',
                type: 'POST',
                data: {
                    friend_id: friendId,
                    csrfmiddlewaretoken: csrfToken
                }
            })
                .done(function (response) {
                    if (response.success) {
                        deferred.resolve(response);
                        toastr.success('Запрос в друзья ЗОМБИТЕЛЕН!');
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        deferred.reject(response.error);
                        console.error(response.error);
                    }
                })
                .fail(function (xhr, status, error) {
                    deferred.reject(error);
                    console.error(error);
                });

            return deferred.promise();
        }

    });
</script>

<script>

    var addFriendModal = document.getElementById("add-friend-modal");
    var addFriendButton = document.getElementById("add-friend-btn");
    var closeButton = document.querySelector("#add-friend-modal .close");
    var incomingRequestsModal = document.getElementById("incoming-requests-modal");
    var sentRequestsModal = document.getElementById("sent-requests-modal");
    var incomingCloseButton = document.querySelector("#incoming-requests-modal .close");
    var sentCloseButton = document.querySelector("#sent-requests-modal .close");
    var scrollPosition;

    function openModal() {
        document.body.style.overflow = 'hidden';
        scrollPosition = window.scrollY;
    }

    function closeModal() {
        window.scrollTo(0, scrollPosition);
        document.body.style.overflow = 'visible';
    }


    document.getElementById("incoming-requests-btn").onclick = function () {
        openModal();
        incomingRequestsModal.style.display = "block";
        return false;
    }

    document.getElementById("sent-requests-btn").onclick = function () {
        openModal();
        sentRequestsModal.style.display = "block";
        return false;
    }

    incomingCloseButton.onclick = function () {
        closeModal();
        incomingRequestsModal.style.display = "none";
    }

    sentCloseButton.onclick = function () {
        closeModal();
        sentRequestsModal.style.display = "none";
    }

    addFriendButton.onclick = function () {
        openModal()
        addFriendModal.style.display = "block";
        return false;
    }

    closeButton.onclick = function () {
        closeModal()
        addFriendModal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == incomingRequestsModal) {
            closeModal();
            incomingRequestsModal.style.display = "none";
        }
        if (event.target == sentRequestsModal) {
            closeModal();
            sentRequestsModal.style.display = "none";
        }
    }

    $(document).ready(function () {
        $('#add-friend-btn').on('click', function () {
            $('#add-friend-modal').show();
        });

        $('#add-friend-form').submit(function (e) {
            e.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: '/friends_add/',
                data: formData,
                success: function (response) {
                    toastr.success(response.message);
                    $('#add-friend-modal').hide(); // Скрыть модальное окно
                    setTimeout(function () {
                        location.reload();
                    }, 1500);
                },
                error: function (xhr) {
                    var errorMessage = 'Произошла ошибка. Попробуйте еще раз.';
                    if (xhr.status === 400) {
                        errorMessage = 'Форма заполнена неверно.';
                    } else if (xhr.status === 404) {
                        errorMessage = 'Пользователь не найден.';
                    } else if (xhr.status === 409) {
                        errorMessage = 'Заявка уже существует или вы уже друзья.';
                    }
                    toastr.error(errorMessage);
                }
            });
        });
    });
</script>
