<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
<table>
    
    {% if user.avatar %}
        <img src="{{ user.avatar.url }}" width="300" alt="Я даун"/>
    {% else  %}
        <img src="/media/svofard_404.png" width="300"/>
    {% endif %}


    <tr>
        <td>Псевдоним: </td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>Имя: </td>
        <td>{{ user.first_name }}</td>
    </tr>
    <tr>
        <td>Фамилия: </td>
        <td>{{ user.last_name }}</td>
    </tr>
    <tr>
        <td>Дата создания аккаунта: </td>
        <td>{{ user.date_joined }}</td>
    </tr>
</table>
    {% if is_current_user %}
    <h2>Сменить пароль</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{  ChangePasswordForm.as_table }}
        </table>
        <input type="submit" class="change-password" value="Сменить пароль">
    </form>
        
    {% endif %}
    {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    <button onclick="location.href = '/'">На главную</button>
    <button onclick="location.href = '{{ user.username }}/friends/'">Друзья</button>
    <h2>Избранное</h2>

        <table bgcolor="#00ffff">
            <tr>
                <th>Название</th>
                <th>Фотокарточка</th>
            </tr>
            {% for meme in user.favorites.all %}
            <tr>
                <td>{{ meme.name }}</td>
                <td><img src="{{ meme.path_to_img.url }}" width="300"/></td>
            </tr>
            {% endfor %}
        </table>

</body>
</html>